# Coursework Part 1 Template

RGyUm is a new business venture to get more fast food on-campus. The aim of this coursework is to design a program that simulates a fast-food environment. To do so, you will be provided with two small data files in .csv format, which you must manipulate in order to get a data frame which will be used as the input of your fast-food simulator program.

## Section 1: Data loading and manipulation

You will work with two files that are located in my dropbox:
1. `menu.csv`: A table that shows the code to be entered in the fast food menu item keyboard to get a certain food. It also contains the amount of products available. The file can be read from this address: https://www.dropbox.com/s/aer7yfyzrd6yog5/menu.csv?raw=1

2. `foods.csv`: A table with the name of each food (without capitalisation), the category and the price. The file can be read from this address: https://www.dropbox.com/s/ln97rid8o3bdh1h/foods.csv?raw=1

By running the following code cells, you can to read and print the two files as pandas data frames:

In [2]:
import pandas as pd
import numpy as np

In [3]:
menu = pd.read_csv('https://www.dropbox.com/s/aer7yfyzrd6yog5/menu.csv?raw=1')
menu

   menu_number             food  amount
0           A1       Margherita     8.0
1           A2        Pepperoni     5.0
2           A3              NaN     NaN
3           A4              NaN     NaN
4           B1          Big Mac     6.0
5           B2  Halloumi Burger     3.0
6           B3              NaN     NaN
7           B4              NaN     NaN
8           C1              NaN     NaN
9           C2            Gyoza     7.0
10          C3            Ramen     4.0
11          C4         Yakisoba     5.0
12          D1              NaN     NaN
13          D2     Glazed Donut     8.0
14          D3              NaN     NaN
15          D4              NaN     NaN

In [4]:
foods = pd.read_csv('https://www.dropbox.com/s/ln97rid8o3bdh1h/foods.csv?raw=1')
foods

                             food category  price
0             jomino's margherita    pizza   5.50
1              jomino's pepperoni    pizza   6.75
2              mctonald's big mac   burger   4.25
3                   fitsu's gyoza  dim sum   5.00
4                   fitsu's ramen  dim sum   7.52
5  burger queen's halloumi burger   burger   5.10
6            hey sushi's yakisoba  dim sum   8.23
7     crispy creme's glazed donut   sweets   1.25

### Question 1: Standardising the column names

The food names are not written exactly in the same on both data frames! Most notably, you can see that in the `foods` data frame the foods have the brand before the food name, whereas in the `menu` data frame the foods are capitalised and do not have the brand name before. Therefore, you need to create and **apply** a function which cleans the `food` entries of the `foods` data frame to make them look **the same way** as in the `menu` data frame!

In [6]:
## use this cell to standardise the product names in the "foods" data frame
## your function here
def change_name(df):
    
    
    foods_words = []
    for sentence in df['food']:
        
        words = sentence.split()
        for i, word in enumerate(words):
            if word.endswith("'s"):
                output = " ".join(words[i+1:])
                output = output.replace("'s", "").title()
                foods_words.append(output)    
            else:
                pass
    df['food'] = foods_words
    return df

In [7]:
# apply the function to the food column, 
foods_final = change_name(foods)
foods_final

              food category  price
0       Margherita    pizza   5.50
1        Pepperoni    pizza   6.75
2          Big Mac   burger   4.25
3            Gyoza  dim sum   5.00
4            Ramen  dim sum   7.52
5  Halloumi Burger   burger   5.10
6         Yakisoba  dim sum   8.23
7     Glazed Donut   sweets   1.25

### Question 2: Merging the Datasets

Once that both columns look the same, you need to **merge** them as a single data frame so that this can be used in the program.

*Hint:* The merged data frame can have `menu_number` as the index, and all the information from the `foods` data frame next to each product.

In [10]:
## use this cell to merge foods into menu
food_menu_merged = pd.merge(menu,foods_final, on='food',how='left').set_index('menu_number')
food_menu_merged

                        food  amount category  price
menu_number
A1                Margherita     8.0    pizza   5.50
A2                 Pepperoni     5.0    pizza   6.75
A3                       NaN     NaN      NaN    NaN
A4                       NaN     NaN      NaN    NaN
B1                   Big Mac     6.0   burger   4.25
B2           Halloumi Burger     3.0   burger   5.10
B3                       NaN     NaN      NaN    NaN
B4                       NaN     NaN      NaN    NaN
C1                       NaN     NaN      NaN    NaN
C2                     Gyoza     7.0  dim sum   5.00
C3                     Ramen     4.0  dim sum   7.52
C4                  Yakisoba     5.0  dim sum   8.23
D1                       NaN     NaN      NaN    NaN
D2              Glazed Donut     8.0   sweets   1.25
D3                       NaN     NaN      NaN    NaN
D4                       NaN     NaN      NaN    NaN

### Question 3: Changing values in a data frame

Oops! I forgot to add three Chips in B4! Can you add them to the data frame please?

Ensure you add the food, amount, catergory and price. See output below for values.

In [11]:
## Use this cell to add three units of Chips to slot B4, 
food_menu_merged[food_menu_merged.index=='B4']=['Chips',3.00,'side',3.00]

In [12]:
food_menu_merged

                        food  amount category  price
menu_number
A1                Margherita     8.0    pizza   5.50
A2                 Pepperoni     5.0    pizza   6.75
A3                       NaN     NaN      NaN    NaN
A4                       NaN     NaN      NaN    NaN
B1                   Big Mac     6.0   burger   4.25
B2           Halloumi Burger     3.0   burger   5.10
B3                       NaN     NaN      NaN    NaN
B4                     Chips     3.0     side   3.00
C1                       NaN     NaN      NaN    NaN
C2                     Gyoza     7.0  dim sum   5.00
C3                     Ramen     4.0  dim sum   7.52
C4                  Yakisoba     5.0  dim sum   8.23
D1                       NaN     NaN      NaN    NaN
D2              Glazed Donut     8.0   sweets   1.25
D3                       NaN     NaN      NaN    NaN
D4                       NaN     NaN      NaN    NaN

## Section 2: Fast-Food Simulation Program

Once that you have generated your merged dataset, you will use the following code cell to write a small program with the following *four* options:

1. **Admin login**: This option will simulate how the fast-food operator validates their credentials. When this option is selected, the user should be prompted to input their username and password. The username should be *admin* and the password should be any number smaller than *10* (including float and negative numbers). You should allow the user to try *four* times, if all of them are incorrect, then the program stops and the program cell needs to be run again.

  * Note: Once that an admin has logged in, this option has to be disabled (i.e. the user cannot go back and select this option).

2. **Add products**: This option can only be accessed once option 1 has been completed, otherwise the message *login first!* should be displayed and the program should go back to the main menu. In this option, the admin will be shown the list of foods and categories in the fast-food menu. Then, the admin can input a menu number  to add *one more product* for that certain menu slot. Afterwards, the program should show the new foods and go back to the main menu.
  
  * Note: Keep in mind that each space in the fast-food menu can hold a maximum of *eight* products (of the same food, of course). Also, you cannot add products in the empty menu slots. Therefore, your program should warn the admin in case that they want to add more products of a specific food in a menu slot, or if the admin wants to add products in an empty slot.

3. **Buy food**: This option can be accessed by "anyone", so there is no need for a validation. If this option is selected, the user will be shown the list of foods, amounts and prices. Then, the user will be requested to select one food item based on the `menu_number`. Once the food is selected, your program must display the price of the selected product. Then, the user will be prompted to pay. To simulate this payment, you will ask the user for an input and write any positive number (if the user inputs something invalid, ask to try again). Then, your program must check this number against the price of the product to be bought. If the input number is larger than the price, then you should return *your change is...* and the subtraction of the payment minus the price of the snack. If the number is equal to the price, then you must return *thanks for paying*. Else, you should output *you need to pay more* and allow the user to write another amount. After the "purchase", you should output to the user the number of products left for that particular food (therefore, you need to update the data frame!). Notice that if there were zero products left for the food selected, then you must prompt this to the user in advance before letting them buy, and ask them to select another food.

4. **Exit**

In [19]:
menu = food_menu_merged


# initialize the number of login attempts to zero
login_attempts = 0

# initialize the admin login flag to False
admin_logged_in = False

while True:
    print("Welcome to the RGyUm fast-food menu. Select an option:")
    print("1. Log in (admin only)")
    print("2. Add one more product of a certain food (admin only)")
    print("3. Buy products")
    print("4. Exit")

    choice = input()

    # Admin login option
    if choice == '1':
        # check if admin is already logged in
        if admin_logged_in:
            print("Admin is already logged in!")
        else:
            # prompt the admin for their username and password
            username = input("Please enter your username: ")
            password = input("Please enter your password: ")

            # validate the admin's credentials
            if username == "admin" and float(password) < 10:
                print("Admin logged in successfully!")
                admin_logged_in = True
            else:
                login_attempts += 1
                if login_attempts < 4:
                    print("Incorrect username or password. Please try again.")
                else:
                    print("Too many login attempts. The program will now exit.")
                    break

    # Add products option
    elif choice == '2':
        # check if admin is logged in
        if not admin_logged_in:
            print("Please login first!")
            continue

        # display the menu
        print(menu[['food','category']])

        # prompt the admin for the menu number to add a product to
        menu_number = input("Please enter the menu number to add a product to: ")

        # menu.fillna(0,inplace=True)
        Amount_food_available = menu[menu.index==menu_number]['amount'][0]
        print(f"The amount of food available for {menu_number} menu number is {Amount_food_available}")
      
        if Amount_food_available>=8:
            print("You can't add more food to this category. Maximum number allowed have been reached")

        elif pd.isna(menu[menu.index==menu_number]['amount'][0]):
            print('You cannot add food for an empty slot')

        else:
            Allowed_amount_additional = 8-Amount_food_available
            print(f'The amount of food that you can add on this menu number {menu_number} selected should not exceed {Allowed_amount_additional}')

            add_amount = eval(input("please enter the amount you want to add:"))

            while add_amount > Allowed_amount_additional:
                print(f'you can not add amount more than {Allowed_amount_additional} which is the allowed amount to add')
                print("Please add allowable amount to add")
                add_amount = eval(input("please enter the allowable amount you want to add:"))

            menu.loc[menu_number, 'amount'] += add_amount

        # Show the updated menu
            print("Updated Menu:")
            print(menu)


    # Buy food option
    elif choice == '3':
        # display the menu
        print(menu.drop('category',axis=1))

        while True:
            menu_number = input("Please enter the menu number of the food you want to buy: ")
            try:
                menu_number = str(menu_number)
                if pd.isna(menu[menu.index == menu_number]['food'].iloc[0]):
                    print("No food left for this menu number. Please select another menu number.")
                else:
                    selected_food_price = menu[menu.index == menu_number]['price'].iloc[0]
                    selected_food = menu[menu.index == menu_number]['food'].iloc[0]
                    print(f"The price of {selected_food} is {selected_food_price}")
                    break
            except (ValueError, IndexError):
                print("Invalid menu number. Please try again.")

        
        # prompt the user to pay
        while True:
            payment = input("Please enter your payment amount: ")
            try:
                payment = float(payment)
            except ValueError:
                print("Invalid input! Please enter a valid amount.")
                continue

            if payment <= 0:
                print("Invalid input! Please enter a positive amount.")
                continue

            if payment < selected_food_price:
                print("You need to pay more.")
            elif payment == selected_food_price:
                print("Thanks for paying!")
                break
            else:
                change = payment - selected_food_price
                print("Your change is ${}.".format(change))
                break

        # Then we are going to update the amount for the particular menu number selected.
        new_value = menu[menu.index==menu_number]['amount'][0]-1

        menu[menu.index==menu_number] = ['Margherita',new_value,'pizza',5.5]

        Amount_left = menu[menu.index==menu_number]['amount'][0]
    
        if Amount_left==0:
            print("Please select other food type")
        else:
            print(f'the amount of food left for the menu number {menu_number} is {Amount_left} ')

        # # display the number of products left for the selected product
        # print("There are {} products left for {}.".format(products_list[selected_product_number]['quantity'], selected_product['name'])) 

    elif choice == '4':
        print("Thank you for visiting our fast-food restaurant!")
        break

Welcome to the RGyUm fast-food menu. Select an option:
1. Log in (admin only)
2. Add one more product of a certain food (admin only)
3. Buy products
4. Exit
1
Please enter your username: admin
Please enter your password: 3
Admin logged in successfully!
Welcome to the RGyUm fast-food menu. Select an option:
1. Log in (admin only)
2. Add one more product of a certain food (admin only)
3. Buy products
4. Exit
2
                        food category
menu_number
A1                Margherita    pizza
A2                 Pepperoni    pizza
A3                       NaN      NaN
A4                       NaN      NaN
B1                   Big Mac   burger
B2           Halloumi Burger   burger
B3                       NaN      NaN
B4                     Chips     side
C1                       NaN      NaN
C2                     Gyoza  dim sum
C3                     Ramen  dim sum
C4                  Yakisoba  dim sum
D1                       NaN      NaN
D2              Glazed Donut   sweets
D3                       NaN      NaN
D4                       NaN      NaN
Please enter the menu number to add a product to: A1
The amount of food available for A1 menu number is 8.0
You can't add more food to this category. Maximum number allowed have been reached
Updated Menu:
                        food  amount category  price
menu_number
A1                Margherita     8.0    pizza   5.50
A2                 Pepperoni     5.0    pizza   6.75
A3                       NaN     NaN      NaN    NaN
A4                       NaN     NaN      NaN    NaN
B1                   Big Mac     6.0   burger   4.25
B2           Halloumi Burger     3.0   burger   5.10
B3                       NaN     NaN      NaN    NaN
B4                     Chips     3.0     side   3.00
C1                       NaN     NaN      NaN    NaN
C2                     Gyoza     7.0  dim sum   5.00
C3                     Ramen     4.0  dim sum   7.52
C4                  Yakisoba     5.0  dim sum   8.23
D1                       NaN     NaN      NaN    NaN
D2              Glazed Donut     8.0   sweets   1.25
D3                       NaN     NaN      NaN    NaN
D4                       NaN     NaN      NaN    NaN
Welcome to the RGyUm fast-food menu. Select an option:
1. Log in (admin only)
2. Add one more product of a certain food (admin only)
3. Buy products
4. Exit
2
                        food category
menu_number
A1                Margherita    pizza
A2                 Pepperoni    pizza
A3                       NaN      NaN
A4                       NaN      NaN
B1                   Big Mac   burger
B2           Halloumi Burger   burger
B3                       NaN      NaN
B4                     Chips     side
C1                       NaN      NaN
C2                     Gyoza  dim sum
C3                     Ramen  dim sum
C4                  Yakisoba  dim sum
D1                       NaN      NaN
D2              Glazed Donut   sweets
D3                       NaN      NaN
D4                       NaN      NaN
Please enter the menu number to add a product to: A2
The amount of food available for A2 menu number is 5.0
The amount of food that you can add on this menu number A2 selected should not exceed 3.0
please enter the amount you want to add:4
you can not add amount more than 3.0 which is the allowed amount to add
Please add allowable amount to add
please enter the allowable amount you want to add:6
you can not add amount more than 3.0 which is the allowed amount to add
Please add allowable amount to add
please enter the allowable amount you want to add:2
Updated Menu:
                        food  amount category  price
menu_number
A1                Margherita     8.0    pizza   5.50
A2                 Pepperoni     7.0    pizza   6.75
A3                       NaN     NaN      NaN    NaN
A4                       NaN     NaN      NaN    NaN
B1                   Big Mac     6.0   burger   4.25
B2           Halloumi Burger     3.0   burger   5.10
B3                       NaN     NaN      NaN    NaN
B4                     Chips     3.0     side   3.00
C1                       NaN     NaN      NaN    NaN
C2                     Gyoza     7.0  dim sum   5.00
C3                     Ramen     4.0  dim sum   7.52
C4                  Yakisoba     5.0  dim sum   8.23
D1                       NaN     NaN      NaN    NaN
D2              Glazed Donut     8.0   sweets   1.25
D3                       NaN     NaN      NaN    NaN
D4                       NaN     NaN      NaN    NaN
Welcome to the RGyUm fast-food menu. Select an option:
1. Log in (admin only)
2. Add one more product of a certain food (admin only)
3. Buy products
4. Exit
4
Thank you for visiting our fast-food restaurant!